@font-face {
  font-family: 'MyFont';           
  src: url('/helveticaneuecyr_roman.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

#app {
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
  padding: 0;
}